.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.scroll-child {
  flex: 0 0 auto;
  margin-right: 36px;
  font-size: 24px;
}

:root {
  --font-heading: "Raleway", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

img {
  border-radius: 8px;
}

iframe {
  border-radius: 8px;
  margin-top: 16px;
}